/* Home.module.css */

/* General layout */

  /* Welcome Header */
  .welcomeHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #1F44BF;
    color: white;
    padding: 10px 20px;
    font-size: xx-large;
    font-weight: bold;
    flex: 1;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .leftDiv, .centerDiv, .rightDiv {
    flex: 1;
  }

  .leftDiv, .centerDiv {
    text-align: center;
    place-content: center;
  }

  .rightDiv {
    display: flex;  
    justify-content: flex-end; 
    align-items: center; 
  }

  /* Main Content */
  .middleDiv {
    background-color: rgba(142, 174, 255, 0.347);
    color: #000000;
    width: 100%;
    height: 70vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .dropdownContainer {
    height: 100%;
    text-align: center;
  }

  .dropdownContainer, .metricsContainer {
    flex: 1;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .inputField {
    background-color: #E5E7EB; 
    border: 2px solid #1F44BF;
    padding: 10px;
    font-size: 16px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
  }
  
  /* Buttons */
  .bottomDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .startButton {
    background-color: #2cd369; /* Green */
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 45%;
  }
  
  .resetButton {
    background-color: #D1D5DB; /* Gray */
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 10px;
    width: 45%;
  }
  
  .startButton:hover {
    background-color: #16ad4e; /* Darker green */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: scale(1.05); /* Slight scaling effect on hover */
  }
  
  .resetButton:hover {
    background-color: #9CA3AF; /* Darker gray */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: scale(1.05); /* Slight scaling effect on hover */
  }
  
  /* Error Message */
  .error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }

  .logo {
    width: 200px; 
    height: auto; 
    max-height: 100px; 
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 buttons in the top row */
    grid-template-rows: repeat(2, 1fr); /* 2 rows: top and bottom */
    gap: 10px; /* Space between buttons */
    width: 100%; /* Ensure it takes the full width of the container */
    max-width: 600px; /* Optional: to prevent the buttons from getting too wide */
    margin: 0 auto; /* Center the grid horizontally */
  }
  
  .Squats, .Deadlift, .BenchPress, .HangCleans, .Jerks {
    background-color: #eeeeee;
    border: 2px solid #1F44BF;
    border-radius: 10px;
    padding: 20px; /* Adjust padding for consistency */
    font-size: 26px; /* Adjust font size */
    font-weight: bold;
    color: black;
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .Squats:hover, .Deadlift:hover, .BenchPress:hover, .HangCleans:hover, .Jerks:hover {
    background-color: #d1d1d1;
    transform: scale(1.05); /* Slight scaling effect on hover */
  }

  .SelectedExercise {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10%;
    font-size: x-large;
  }