.dropdown {
    position: relative;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownButton {
    background-color: blue;
    color: white;
    padding: 2% 0%;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    font-size: large;
    margin-top: 20%;
}

.dropdownMenu {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0;
    margin: 0;
    border: 10px solid #ddd;
    list-style: none;
}

.dropdownMenu li {
    padding: 10px;
    border: 2px dotted black;
    cursor: pointer;
    color: black;
}

.dropdownMenu li:hover {
    background-color: lightgray;
}

