.dropdown {
    position: relative;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownButton {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    padding: 2% 0%;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    font-size: xx-large;
    margin-top: 35%;
    font-style: bold;
}

.dropdownMenu {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0;
    margin: 0;
    border: 10px solid #ddd;
    list-style: none;
}

.dropdownMenu li {
    padding: 10px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
    color: black;
}

.dropdownMenu li:hover {
    background-color: lightgray;
}

