.metricContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 10px; /* Adds space between label and input */
    /* padding: 5px;
    border: 5px solid #D0C874;
    border-radius: 10px;
    background-color: #D0C874; */
}

.label {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0; /* Remove margin to avoid pushing down */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputBox {
    width: 60px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}
/* 
.inputBox:focus {
    border-color: blue;
} */

