.metricContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 10px; /* Adds space between label and input */
}

.label {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0; /* Remove margin to avoid pushing down */
}

.inputBox {
    width: 60px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    outline: none;
}
/* 
.inputBox:focus {
    border-color: blue;
} */

